.form-container {
    width: 60%;

    margin: 0 auto;

    padding-top: 5rem;
}

.form {
    display: flex;
    flex-direction: column;

    align-items: stretch;

    @media (max-width: 50rem) {

        align-items: center;

        label {
            display: block;
        }

    }

    &__dropdown {
        width: 30rem;
    }

    &__group {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:last-child) {
            padding-bottom: 2rem;
        }

        @media (max-width: 50rem) {
            display: block;
            text-align: center;
            line-height: 3rem;
        }
    }

    &__input[type="number"] {
        height: 3rem;
    }

    &__control-group {
        padding: 3rem 0;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media (max-width: 50rem) {
            .button {
                margin: 0 1rem;
            }
        }
    }
}