.form {
    display: flex;
    flex-direction: column;

    align-items: stretch;

    @media (max-width: 50rem) {

        label {
            display: none;
        }

        align-items: center;

        &__control-group {
            .button {
                margin: 0 1rem;
            }
        }

    }

    &__dropdown {
        width: 30rem;
    }

    &__group {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:last-child) {
            padding-bottom: 2rem;
        }
    }

    &__control-group {
        padding: 3rem 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}