/*
@mixin respond($breakpoint) {
    @if $breakpoint == variable_name_here {
        @media (max-width: 37.5em) {@content}; //600px
    }
}
*/
/*
@include respond(variable_name_here) {
    font-size: 50%;
}
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7rem; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

.heading-1 {
  font-size: 5rem; }
  @media (max-width: 68.75em) {
    .heading-1 {
      font-size: 4.5rem; } }
  @media (max-width: 62.5em) {
    .heading-1 {
      font-size: 4rem; } }
  @media (max-width: 56.25em) {
    .heading-1 {
      font-size: 3rem; } }
  @media (max-width: 43.75em) {
    .heading-1 {
      font-size: 2.25rem; } }
  @media (max-width: 34.375em) {
    .heading-1 {
      font-size: 2rem; } }
  @media (max-width: 28.125em) {
    .heading-1 {
      font-size: 1.75rem; } }
  @media (max-width: 28.125em) {
    .heading-1 {
      font-size: 1.2rem; } }

.heading-2 {
  font-size: 4rem; }

.heading-3 {
  font-size: 3.25rem; }
  .heading-3--landing {
    text-align: center; }
  @media (max-width: 31.25em) {
    .heading-3 {
      font-size: 2.25rem; } }

.heading-4 {
  font-size: 2.75rem; }
  @media (max-width: 68.75em) {
    .heading-4 {
      font-size: 2.5rem; } }
  @media (max-width: 62.5em) {
    .heading-4 {
      font-size: 2.25rem; } }
  @media (max-width: 56.25em) {
    .heading-4 {
      font-size: 2rem; } }
  @media (max-width: 43.75em) {
    .heading-4 {
      font-size: 1.75rem; } }
  @media (max-width: 34.375em) {
    .heading-4 {
      font-size: 1.25rem; } }
  @media (max-width: 28.125em) {
    .heading-4 {
      font-size: .75rem; } }
  @media (max-width: 25em) {
    .heading-4 {
      font-size: .75rem; } }

.u-margin-bottom-smallest {
  margin-bottom: .5rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 7rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 7rem !important; }

.u-margin-top-huge {
  margin-top: 9rem !important; }

.align-txt-center {
  text-align: center !important; }

.shadow-sm {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15) !important; }

.u-hidden {
  visibility: hidden !important; }

.button, .button:link, .button:visited {
  border-radius: 2px;
  color: white;
  background-color: #1980CA;
  transition: all .2s;
  align-content: center;
  justify-content: center;
  padding: 1rem 4rem;
  border: none; }

.button:active, .button:focus {
  outline: none; }

.button:hover {
  cursor: pointer;
  background-color: #52A1D8; }

.dropdown {
  position: relative;
  /*Gives a reference point for child elements*/
  display: inline-block;
  font-size: 1rem;
  padding: .1rem 2.5rem .2rem .5rem;
  width: 10rem;
  border: .2em solid #000; }
  .dropdown.active, .dropdown:focus {
    outline: none;
    box-shadow: 0 0 3px 1px #227755; }
  .dropdown__list {
    position: absolute;
    top: 100%;
    left: 0; }
  .dropdown__list--hidden {
    max-height: 0;
    visibility: hidden; }

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  .form__dropdown {
    width: 30rem; }
  .form__group {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .form__group:not(:last-child) {
      padding-bottom: 2rem; }
  .form__control-group {
    padding: 3rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center; }

.header {
  display: flex; }
  .header__img {
    width: 6rem;
    height: 6rem;
    margin: 2px 0 2px 6rem; }

.hero {
  width: 100%;
  height: 30vh;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(105deg, transparent 60%, rgba(255, 255, 255, 0.6) 60%, rgba(255, 255, 255, 0.6) 100%), url(../img/background1.jpg);
  background-size: 100%;
  background-position: 0 35%; }
  .hero--form {
    background-image: url(../img/country.jpg); }
  .hero__text {
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center; }

.landing-select {
  display: grid;
  grid-template-columns: repeat(2, [col-end] minmax(min-content, 45rem) [col-end]);
  justify-content: center; }
  .landing-select__section:link, .landing-select__section:visited {
    padding: 4rem 3rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all .2s; }
  .landing-select__section:hover {
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .landing-select__icon {
    width: 8rem;
    height: 8rem;
    margin: 0 4rem;
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat; }
    .landing-select__icon--bar {
      background-image: url(../img/icon-bar-blue.png); }
    .landing-select__icon--globe {
      background-image: url(../img/icon-globe-blue.png); }
    .landing-select__icon--pill {
      background-image: url(../img/icon-pill-blue.png); }
    .landing-select__icon--rx {
      background-image: url(../img/icon-rx-blue.png); }
  .landing-select__text {
    font-size: 2rem;
    color: black; }

.form-container {
  width: 60%;
  margin: 0 auto;
  padding-top: 5rem; }
