.button {
    &,
    &:link,
    &:visited {
        border-radius: 2px;
        color: white;
        background-color: $color-primary;
        transition: all .2s;
        align-content: center;
        justify-content: center;

        padding: 1rem 4rem;

        border: none;
    }

    &:active,
    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
        background-color: $color-primary-light;
    }

    // Display when mobile size and hide otherwise
    &--mobile {
        
        // By default, do not display
        display: none;

        // Display when the screen gets small enough
        @media (max-width: 37.5rem) { //600px
            display: initial; //restore display to its default value
        }

    }

    // Hide desktop buttons when in mobile size
    &--desktop {

        // hide desktop elements when the screen is small enought
        @media (max-width: 37.5rem) { //600px
            display: none;
        }

    }

}