{% extends "layout.html" %}

{% block title%}
<title>Document</title>
{% endblock%}

{% block style_and_scripts %}
<script src="../static/scripts/jquery-3.3.1.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
{% endblock %}

{% block content %}
<div class="hero hero--form">

</div>

<div class="form-container">
    <form action="#" class="form">

        <!-- This is where all the dropdowns and labels are -->
        <div class="form__selections-group">
            <div class="form__group">
                <label for="years">Select a year:</label>
                <select name="form__years" id="years" onchange=selectedYear(event) class="form__dropdown">
                    <option value="2010">2010</option>
                    <option value="2013">2013</option>
                    <option value="2015">2015</option>
                </select>
            </div>

            <div class="form__group">
                <label for="countries">Select a country:</label>
                <select name="form__countries" id="countries" onchange="selectedCountry(event)" disabled class="form__dropdown">
                </select>
            </div>

            <div class="form__group">
                <label for="diseases">Select a disease:</label>
                <select name="form__diseases" id="diseases" onchange="selectedDisease(event)" disabled class="form__dropdown">
                </select>
            </div>
        
            <div class="form__group">
                <label for="companies">Select a company:</label>
                <select name="form__companies" id="companies" onchange="selectedCompany(event)" disabled class="form__dropdown">
                </select>
            </div>

            <div class="form__group">
                <label for="drugs">Select a drug:</label>
                <select name="form__drugs" id="drugs" onchange="selectedDrug(event)" disabled class="form__dropdown">
                </select>
            </div>
        </div>

        <!-- This is where all the buttons are -->
        <div class="form__control-group">
            <div class="button button--desktop" id="back-btn">
                &larr; Back
            </div>
            <div class="button button--mobile" id="back-btn">
                &larr; 
            </div>
            <div class="button button--notactive button--desktop">
                Submit
            </div>
            <div class="button button--notactive button--mobile">
                &rarr;
            </div>
        </div>
   </form>
</div>
<!--
<div class="dropdown" tabindex="0">
    <span class="dropdown__value">Select year</span>
    <ul class="dropdown__list">
        <li class="dropdown__item">2010</li>
        <li class="dropdown__item">2013</li>
        <li class="dropdown__item">2015</li>
    </ul>
</div>
-->

<script>
    var _year = "";
    var _country = "";
    var _disease = "";
    var _company = "";
    var _drug = "";

    var _country_position_dict = {};
    var _country_col = "";
    var _country_row = "";

    var _year_options_ele = document.getElementById("years");
    var _country_options_ele = document.getElementById("countries");
    var _disease_options_ele = document.getElementById("diseases");
    var _company_options_ele = document.getElementById("companies");
    var _drug_options_ele = document.getElementById("drugs");

    var _back_btn_ele = document.getElementById("back-btn");

    var _currently_selected_group = "years";

    /*
    *   Helper Methods
    */
    function createURL(method) {
        return "/form?method=" + method
                +"&year=" + _year
                +"&country=" + _country
                +"&country_row=" + _country_row
                +"&country_col=" + _country_col
                +"&disease=" + _disease
                +"&company=" + _company
                +"&drug=" + _drug;
    }
    
    function deselectForm(form_element) {
        form_element.empty();
        /// Deselect element
        form_element.attr("disabled", "disabled");
        /// Change value to nothing
        form_element.selectedIndex = 0;
    }


    /*
    *   Event handlers
    */
    function selectedYear(event) {
        _year = event.target.value;
        /// Deselect next elements
        deselectForm($("#countries"));
        deselectForm($("#companies"));
        deselectForm($("#diseases"));
        deselectForm($("#drugs"));
        /// Retrieve Country values from host
        fetch(createURL("getCountries")).then(function(response){
            /// Fill out country values based on year
            _country_position_dict = {}; //reset global dict
            response.json().then(function(json){
                //console.log(json);
                for(let i = 0; i < json.countries.length; i++){
                    let country_name = json.countries[i]["country"];
                    // Insert into form
                    _country_options_ele.insertAdjacentHTML(
                        "beforeend",
                        `<option value="${country_name}">${country_name}</option>`
                    );
                    // Track row/col position in global dict
                    _country_position_dict[country_name] = { 
                        row: json.countries[i]["row"], 
                        col: json.countries[i]["col"] 
                    };
                }
            });
            _country_options_ele.removeAttribute("disabled");
        });
    }

    function selectedCountry(event) {
        _country = event.target.value;
        _country_row = _country_position_dict[_country].row;
        _country_col = _country_position_dict[_country].col;
        /// Deselect next elements
        deselectForm($("#companies"));
        deselectForm($("#diseases"));
        deselectForm($("#drugs"));
        /// Retrieve disease values from host
        fetch(createURL("getDiseases")).then(function(response){
           /// Fill out disease values based on country
            response.json().then(function(json){
                //console.log(json)
                for(let i = 0; i < json.diseases.length; i++){
                    let disease_name = json.diseases[i]["disease"];
                    // Insert into form
                    _disease_options_ele.insertAdjacentHTML(
                        "beforeend",
                        `<option value="${disease_name}">${disease_name}</option>`
                    );
                }
            });
            _disease_options_ele.removeAttribute("disabled");
            
        });
    }

    function selectedDisease(event) {
        _disease = event.target.value;
        /// Deselect next elements
        deselectForm($("#companies"));
        deselectForm($("#drugs"));
        /// Retrieve company values from host
        fetch(createURL("getCompanies")).then(function(response){
            /// Fill out company values based on disease
            response.json().then(function(json){
                for(let i = 0; i < json.companies.length; i++){
                    let company_name = json.companies[i]["company"];
                    _company_options_ele.insertAdjacentHTML(
                        "beforeend",
                        `<option value="${company_name}">${company_name}</option>`
                    );
                }
            });
            _company_options_ele.removeAttribute("disabled");
            _currently_selected_group = "diseases";
        });
    }
    
    function selectedCompany(event) {
        _company = event.target.value;
        /// Deselect next elements
        deselectForm($("#drugs"));
        /// Retrieve drug values from host
        fetch(createURL("getDrugs")).then(function(response){
            /// Fill out drug values based on country
            response.json().then(function(json){
                //alert(json.drugs.length);
                for(let i = 0; i < json.drugs.length; i++){
                    let drug_name = json.drugs[i]["drug"];
                    //alert(drug_name);
                    _drug_options_ele.insertAdjacentHTML(
                        "beforeend",
                        `<option value="${drug_name}">${drug_name}</option>`
                    );
                }
            });
            _drug_options_ele.removeAttribute("disabled");
            _currently_selected_group = "companies";
        });
    }

    function selectedDrug(event) {
        _currently_selected_group = "drugs";
    }

    $(document).ready(function(){
        /// Append empty option for placeholder functionality
        $("#years").prepend("<option value='' selected='selected'></option>");
        $("#countries").prepend("<option value='' selected='selected'></option>");
        $("#companies").prepend("<option value='' selected='selected'></option>");
        $("#drugs").prepend("<option value='' selected='selected'></option>");
        $("#diseases").prepend("<option value='' selected='selected'></option>");

        /// Apply 'select2' functionality to <select> elements
        $("#years").select2({minimumResultsForSearch: -1, placeholder: "Year"});
        $("#countries").select2({placeholder: "Country"});
        $("#companies").select2({placeholder: "Company"});
        $("#drugs").select2({placeholder: "Drug"});
        $("#diseases").select2({placeholder: "Disease"});

        /// Reset form selections
        deselectForm($("#countries"));
        deselectForm($("#companies"));
        deselectForm($("#drugs"));
        deselectForm($("#diseases"));

        /// Button onClick events
        _back_btn_ele.addEventListener("click", function(event){
            console.log(_currently_selected_group);
            switch(_currently_selected_group){
                case "years":
                    return;
                case "countries":
                    deselectForm($("#"+_currently_selected_group));
                    _currently_selected_group = "years";
                    break;
                case "companies":
                    deselectForm($("#"+_currently_selected_group));
                    _currently_selected_group = "countries";
                    break;
                case "drugs":
                    deselectForm($("#"+_currently_selected_group));
                    _currently_selected_group = "companies";
                    break;
                case "diseases":
                    deselectForm($("#"+_currently_selected_group));
                    _currently_selected_group = "drugs";
                    break;
                default:
                    return;
            }
        });
    });

</script>
{% endblock %}
