<!-- Global <head> tag -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    {% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block style_and_scripts %}
    {% endblock %}
</head>
<!-- Global <body> tag, mainly the header-->
<body>
    <header class="header">
        <!--<img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo image" class="header__img">-->
        <!-- <a href="/"><img class="header__img" src="{{ url_for('static',filename='img/logo.png') }}" alt="Global Health Impact" /></a> -->
        <a href="/"><img class="logo" src="{{ url_for('static',filename='img/logo.png') }}" alt="Global Health Impact" width="100px" /></a>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>